<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876994628515-3h5p4n6npr7l7iflffc1feok0cnj4hhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876994628515-3h5p4n6npr7l7iflffc1feok0cnj4hhl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876994628515-bq9ks2f4gs5u8jhrqei5cs3unlphnjrl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGr4fcAxBDBIOZ9N-LgZV50rtokoNDEMs</string>
	<key>GCM_SENDER_ID</key>
	<string>876994628515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parsley</string>
	<key>PROJECT_ID</key>
	<string>parsley-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>parsley-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876994628515:ios:4232736a0f01569a0be816</string>
</dict>
</plist>